/01_EduNexus_VS_v2.pdf
/02_EduNexus_SRS_v2.pdf
/29_06_2026___fa5474fc-c976-4b45-91dd-4403e4feb140.xlsx
/G5_GP1.zip
1_PRD_Template.docx
01_VS_v2.pdf
2_Requirement Traceability2.xlsx
02_SRS_v2.pdf
3_Design_Modeling.docx
*.docx
*.xlsx
*.txt
read_docx.py
